* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d0f4de;
    color: black;
    padding: 10px 20px;
    border-width: 2px;
    position: fixed;
    width: 97.5%;
}

header .logo {
    font-size: 15px;
}

header nav ul {
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

#about-section h1 {
    margin: 1rem 0;
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
}

#about-section {
    text-align: center;
    padding: 0 50px;
    box-sizing: border-box;
}

#about-section .bio {
    padding: 0 300px;
}

#about-section .headshot img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.4s ease;
}

#education h2,
#skills h2,
#certifications h2,
#projects h2,
#extracurricular h2,
#contact h2 {
    text-align: center;
    background: #d0f4de;
    color: black;
    padding: 10px 20px;
    border-width: 2px;
}

#education ul,
#skills ul,
#extracurricular ul {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
}

.certifications-subsection,
.projects-subsection {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    padding: 20px;
    background: #d0f4de;
    color: black;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }
    
    #about-section .bio {
        padding: 0 20px;
    }
    
    #about-section .headshot img {
        width: 15rem;
        height: 15rem;
    }
    
    #education ul,
    #skills ul,
    #extracurricular ul {
        flex-direction: column;
    }
    
    .certifications-subsection,
    .projects-subsection {
        flex-direction: column;
    }
    
    .social-links img {
        width: 10%;
    }
}
